body {
    margin: 0;
    padding: 0;
}

hr {
    opacity: 40%;
}

#wrapper {
    max-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

#wrapper h1 {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #111111;
    line-height: 50px;
    font-weight: bold;
}

#wrapper h1 a {
    color: black;
    text-decoration: none;
}

#wrapper h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #111111;
    line-height: 32px;
    font-weight: bold;
}